<h2>Ask your clients a few questions</h2>


<% @questions.each do |question| %>
  <tr>
    <td><%= question.content %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <br>
<% end %>


<br />

<%= simple_form_for(Question.new) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :content, :label => false %>
  </div>

    <%= f.button :submit, "Add Question" %>
<% end %>
