<div class="span3 set_3">
  <div class="owner_tag">
    <%= image_tag(current_user.logo.url, :width => "270") %>
  </div>
  <h3><u>SESSION TITLE</u></h3>
  <%= @album.title %>
  <h3><u>REPORT NAME</u></h3>
  <%= @guest.name %>
  <h3><u>FEEDBACK</u></h3>
  <ol>
    <% @guest.answers.each do |answer| %>
      <li><%= answer.content %></li>
    <% end %>
  </ol>
  <script>
    function printpage(){
      window.print()
    }
  </script>

  <input type="button" value="PRINT" onclick="printpage()" class="btn short">
</div>
<div class="span5">
  <h2>FAVES<%= image_tag('heart_red.png', :width => "40px") %></h2>
  <% @guest.all_following.map{|p| @album.photos.include?(p) ? p : nil}.flatten.each do |p| %>
    <div class="report_image_box">
      <%= image_tag(p.photo.url(:large)) %>
      <div class="image_title">
        <%= p.photo_file_name %>
      </div>
      <div class='raves'>
          <div class="grey_ball">
            <%= p.followers_count %>
          </div>
          RAVES
      </div>
    </div>
  <% end %>
</div>
<div class="span3">
  <h2>RAVES <span class="top5">TOP 5</span></h2>
  <% @popular_pics.each do |rave| %>
    <div class='row'>
        <div class="report_image_box">
          <%= image_tag(rave.photo.url(:medium)) %>
          <div class='side_raves'>
            <div class="grey_ball">
              <%= rave.followers_count %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<style type="text/css" media="print">
   .no-print { display: none; }
</style>