<% content_for :head do %>
    <%= stylesheet_link_tag("home") %>
<% end %>
<div class='video_block' id='watch'>
    <%= link_to(image_tag('home/test_banner.png', class: 'banner animated bounceInDown'), '#plans', class: 'scroll-link', :"data-id" => 'plans') %>
    <%= image_tag 'home/home_video.png', class: :background %>
    <%= image_tag 'home/logo_w_tag.png', class: :title %>
    <div class='video_play'>
      <%= image_tag 'home/play_button.png' %>
      &nbsp;
      WATCH VIDEO
    </div>
</div>
<div class='why_block' id='why'>
  <%# image_tag('devices.tiff') %>
  <div class='text'>
    <h2>WE ARE SHOOTING TO SELL, <span class='red'>RIGHT?</span></h2>
    <p>
      BOOMERANG IS A NEW (AND SIMPLER) WAY FOR PHOTOGRAPHERS TO PROOF
      THEIR IMAGES TO THEIR CLIENTS AND INCREASE THEIR SALES.
    </p>
    <p>
      CUSTOMER'S GET ALL THE FUNCTION THEY WANT AND NONE OF THE NOISE THEY
      DON'T. IT ALSO GIVES YOU THE OPPORTUNITY TO GAIN INSIGHTS THAT SOME
      OF OUR PHOTOGRAPHERS HAVE USED TO AS MUCH AS
      <b>
        DOUBLE THEIR ORDER TOTALS.
      </b>
    </p>
  </div>
</div>
<div class='how_block' id='how'>

  <div id='title_block'>
    HOW?
    <%= image_tag 'home/down_arrow.png' %>
  </div>
  <div class='row-fluid'>
      <div class='span3 description'>
        <div class='title'>PROOF BEAUTIFULLY</div>
        <div class='title_bar'></div>
        <p>
          Boomerang is beautiful. Clean lines and minimalist design make our
          interface take a backseat to your images, exactly like it should because
          we recognize that even the way you proff should get you more leads and
          help you book more clients.
        </p>
      </div>
      <div class='span3 description'>
        <div class='title'>INCREASE SALES</div>
        <div class='title_bar'></div>
        <p>
          You should know things like what photos are your customer's favorites
          and what their budget is before they ever come back in to order. Our
          software makes that easy and gives you an advantage in maximizing
          sales potential.
        </p>
      </div>
      <div class='span3 description'>
        <div class='title'>ENGAGE CLIENTS</div>
        <div class='title_bar'></div>
        <p>
          Your customer should never be bored with their images. In fact, you should
          be giving them every opportunity you can to make them even more excited
          about them. Smooth animations, familiar gestures and an impossibly
          solid backend make sure they are.
        </p>
      </div>
      <div class='span3 description'>
        <div class='title'>BOOK MORE JOBS</div>
        <div class='title_bar'></div>
        <p>
          One of our goals was to make the proofing experience so great for your
          clients that their friends want to book you just so they can have the same
          experience themselves. Boomerang lets people easily share their session
          with a direct link to your site. Traffic.
        </p>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='span3 description'>
        <div class='title'>GET FEEDBACK</div>
        <div class='title_bar'></div>
        <p>
            Boomerang lets you ask questions of your clients after they're
          done viewing their session, right in-app. This, along with analytics
          for which sessions and images are most popular with help you
          prepare for orders and gather tons of important data about your
          sessions.
        </p>
      </div>

      <div class='span3 description'>
        <div class='title'>BE MOBILE</div>
        <div class='title_bar'></div>
        <p>
          It's 2014, clients should have been able to view their images on their
          mobile devices years ago. We've made Boomerang responsive and
          familiar on your phone or tablet. All without any apps to download
          or requests to connect through Facebook.
        </p>
      </div>
      <div class='span3 description'>
        <div class='title'>SIMPLE PRICING</div>
        <div class='title_bar'></div>
        <p>
          We hate feature checklists and forcing our subscribers to think
          about things like limits on files or storage contstraints. We have
          one plan for unlimited access to everything. And no tier-tricks to
          get you to bump up and give us more money later.
        </p>
      </div>
      <div class='span3 description'>
        <div class='title'>NO RISK</div>
        <div class='title_bar'></div>
        <p>
          We're straight shooters and we believe that people should pay for good
          work (like yours). Our pricing is simple and month-to-month (unless
          you want to save some cash and pay for a year up front). Buy your
          first month and cancel anytime.
        </p>
      </div>
    </div>
    <div class='row-fluid'>
      <div class='span4 offset1 features'>
        <%= image_tag 'home/more_features.png', class: :left %>
      </div>
      <div class='span4 features text'>
        <div class='text'>
            CARTS, DOWNLOADS, NOTES... OH MY!
            <br/>
            JOIN THE FAMILY + HELP US DECIDE WHAT'S NEXT!
        </div>
      </div>
      <div class='span3 features'>
            <%= link_to((image_tag 'home/try_circle.png', class: :right), '#plans', class: 'scroll-link', :"data-id" => 'plans') %>
      </div>
    </div>
</div>
<div class="testimonial_block" id="testimonials">
  <div class="quotes">"</div>
  <p>
    I'M NOT HAPPY WITH THEY WAY I PROOF RIGHT NOW. I HAVEN'T BEEN FOR THE LAST
    5 YEARS. ACTUALLY I JUST HAVEN'T BEEN.
  </p>
  <div class='claimer'>SANDY, <i>GREENLIGHT IMAGES</i></div>
</div>
<div class='plans_block' id='plans'>
  <div class="container-fluid">
      <div class="row-fluid">
        <div class="span5">
          <div class='row-fluid'>
            <div class='prices'>
              <%= image_tag 'home/test_banner.png' %>
              <div class='info'>

                NO TIERS.
                <br/>
                NO PLANS.
                <br/>
                ONE PRICE.
                <br/>
              EVERY FEATURE.
              <br/>
              UNLIMITED EVERYTHING.
              </div>
            </div>
          </div>
          <div class='row-fluid'>
            <div class='prices'>
                <div class='price'>
                  $30<span class='period'>/mo</span>
                </div>
                <p>CANCEL ANYTIME</p>
              </div>
          </div>
          <div class='row-fluid'>
              <div class='prices'>
                <div class='price'>
                  $330<span class='period'>/yr</span>
                </div>
                <p class='green'>ONE MONTH FREE</p>
              </div>
            </div>
        </div>
        <div class="span5">
          <div class='sign_up'>
              <% if Rails.env.production? %>
                    <%= image_tag('home/logo_w_tag.png') %>
                    <div class='cc'>
                        <div class='card_title'>START YOUR FIRST MONTH</div>
                        <%= render  partial: 'devise/registrations/form', locals: {btn_value: 'SUBMIT, LETS DO THIS'} %>
                    </div>
              <% else %>
                <div style='padding-top: 40%;padding-left:15%;'>
                    SIGN UP COMING SOON!
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
<div class='bottom_block'>
  <div class='row-fluid'>
      <div class='span4'>
        <p>
            <div class='red_font'>
              NOT READY YET?
            </div>
            THAT'S OK! MAY WE SEND YOU A FEW UPDATES AS WE ADD NEW FEATURES?
            <span class='bold'>
              SPAM FREE, ALWAYS
            </span>
        </p>
      </div>
      <div class='span4'>
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; padding-top: 50px; width: 100%; color: white; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//boomerangproof.us7.list-manage.com/subscribe/post?u=f3cf372be03987e593ada1333&amp;id=63e70b467f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="E-MAIL ADDRESS" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_f3cf372be03987e593ada1333_63e70b467f" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="GO!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
      <div class='span4 blog'>
        <%= link_to image_tag('home/blog.png'), '/blog' %>
      </div>
   </div>
</div>