<%= javascript_include_tag 'fancyInput' %>
<script>
	jQuery(function(){
	    $("#album_name").on("keyup change", function() {
	      var value = $("#album_name").val();
	      $("#session_name").text(value);
	      $("#session_name2").text(value);
	      $("#session_name3").text(value.replace(' ', '_'));
	      $("#new_photo").attr('id', 'butts');
	    });
	});
</script>

<div class="session_start">
	<%= simple_form_for @album do |f| %>
            <%= f.error_notification %>
	    	<div class="session_start">
				<h4>Where do you want the session to live? Type it below, all one word.</h4>
				<h4>ex. www.<%= ENV['DISPLAY_DOMAIN'] %>/<%= current_user.name %>/<span id="session_name3">___________________</span></h4>
			</div>
			  <div class="form-inputs big_input">
			  	<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.input :name, :label => false %>
			  </div>
			  <br>
			  <%= f.button :submit, "CONTINUE" %>
	<% end %>

	</div>
    <%= render 'layouts/progress_circles', number: 3, active: 1 %>
</div>
<script>
    $(document).ready(function(){
      $("#album_name").trigger('focus');
    })
</script>

