<div id="thegrid">
  <% if @album.photos.blank? %>
      <h3>Sorry, no photos available at this time.</h3>
  <% end %>
  <table>
	<% count = 0.0 %>
	<% for photo in @album.photos %>
	<% count += 1%>
  	<% if count == 1 || ( (count-1) / 4.0 == ( (count-1) / 4.0).to_i ) %><tr><% end %>
	<td valign='top'>
        <a class="fancybox-button" rel="fancybox-button" href="<%= display_album_photo_path(@album, photo) %>"
             <% if @album.social %>
                title="facebook | twitter | pinterest | tumblr"
             <% end %>
             >
            <div class="image_container item">
                <%= image_tag(photo.photo.url(:thumb), class: 'image') %>

                <% if current_guest %>
                    <div class="fave_controls <%= photo.id %>">
                        <span class="fave_heart">
                            <p><%= render 'photos/fave_options', :photo => Photo.find_by(id: photo.id) %></p>
                        </span>
                    </div>
                <% end %>
               <div class="fave_count <%= photo.id %>"><p><%= photo.followers_count %></p></div>
          </div>
          </a>
    </td>
  	<% if count / 4.0 == (count / 4.0).to_i %></tr><% end %>
	<% end %>
  </table>

</div>