<div id="grid-gallery" class="grid-gallery">
    <section class="grid-wrap">
        <ul class="grid">
            <li class="grid-sizer"></li>
            <% for photo in @album.photos %>
              <li class="image_container">
                <figure>
                    <a title='<%=photo.photo_file_name.split('.').first%>' class='fancybox' rel='group' href='<%= photo.photo.url(:original) %>' data-photo-id="fave-<%= photo.id %>">
                        <%= image_tag(photo.photo.url(:original), class: 'image') %>
                    </a>
                    <div id="fave-<%= photo.id%>" class='fave_options animated flipInX <%= photo.id %>'>
                        <%= render partial: 'photos/fave_options', locals: {photo: photo} %>
                    </div>
                </figure>
              </li>
            <% end %>
        </ul>
    </section>

 </div>
<%= javascript_include_tag "imagesloaded.pkgd.min.js", "masonry.pkgd.min.js", "classie.js", "cbpGridGallery.js" %>
<script>
    new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>
<!-- Add jQuery library -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<%= javascript_include_tag "jquery.mousewheel-3.0.6.pack.js", "jquery.fancybox.pack.js", "jquery.fancybox-buttons.js?v=1.0.5", "jquery.fancybox-media.js?v=1.0.6", "jquery.fancybox-thumbs.js?v=1.0.7" %>
<%= stylesheet_link_tag "jquery.fancybox.css?v=2.1.5", "jquery.fancybox-buttons.css?v=1.0.5", "jquery.fancybox-thumbs.css?v=1.0.7" %>

<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
//            openEffect  : 'none',
//            closeEffect : 'none',
//            nextEffect  : 'none',
//            prevEffect  : 'none',
            padding     : 0,
            margin      : [20, 60, 20, 60], // Increase left/right margin
            beforeShow: function () {
                if (this.title) {
                    //Bring in the extra data that passes the fave controls
                    var el, id = $(this.element).data('photo-id');
                    if (id) {
                        el = $('#' + id);
                        if (el.length) {
                            this.title += el.html();
                        }
                    }
                    // Add in the social  parts of title
                    <% if @album.social %>
                        // New line
                        this.title += '<span class="social">';

                        // Add Facebook like button
                        this.title += '<a href="http://www.facebook.com/sharer.php?s=100&p[url]=' + '<%= @album.url %>' + '&p[images][0]=' + this.href + '&p[title]=Proof of recent photoshoot">Face</a>';
                        //this.title += '<iframe src="//www.facebook.com/plugins/like.php?href=' + this.href + '&amp;layout=button_count&amp;show_faces=true&amp;width=500&amp;action=like&amp;font&amp;colorscheme=light&amp;height=23" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:23px;" allowTransparency="true"></iframe>';

                        // Add tweet button
                        this.title += '<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="' + this.href + '">Tweet</a> ';

                        // Pintrest
                        this.title += '<a href="https://pinterest.com/pin/create/bookmarklet/?media=' + this.href + '&url=' + '<%= @album.url %>' + '&is_video=false&description=Proof of recent photoshoot">PIN</a>';

                        // tumblr
                        this.title += '<a href="http://www.tumblr.com/share/link?url=' + '<%= @album.url %>' + '&name=' + '<%= @album.title %>' + '&description=Proof of recent photoshoot">TUMBLR</a>';

                        this.title += '</span>';
                    <% end %>
                }
                /* Disable right click */
                $.fancybox.wrap.bind("contextmenu", function (e) {
                        return false;
                });
            },
            afterShow: function() {
                // Render tweet button
                //twttr.widgets.load();

                $(".fancybox-title").wrapInner('<div />').show();

                $(".fancybox-wrap").hover(function() {
                    $(".fancybox-title").show();
                }, function() {
                    $(".fancybox-title").hide();
                });
            },
            helpers : {
                title : {
                    type: 'outside'
                },
                overlay : {
                    css : {
                        'background' : 'rgba(0, 0, 0, 0.8)'
                    }
                }
            }
        });
	});
</script>