<div class="welcome_screen <% if current_guest %>hide<% end %>">
	<div class="welcome_text">
		
		<h1>WELCOME!</h1>
		<h3>IS THIS YOUR FIRST TIME HERE?<br> WHAT DO YOU WANT US TO CALL YOU?</h3>
		<%= simple_form_for(Guest.new, html: { class: 'super_focus' }) do |f| %>
		  <%= f.error_notification %>

		  <%= f.hidden_field :album_id, :value => @album.id %>
		  <%= f.hidden_field :album_url, :value => request.original_url %>
		  <%= f.hidden_field :guest_ip, :value => request.remote_ip %>

		  <div class="form-inputs">
		    <%= f.input :name, :label => false, :autofocus => true %>
		  </div>

		    <%= f.button :submit, "CONTINUE" %>
		<% end %>
		
		<h2>OR</h2>
		
		<h3>ARE YOU ONE OF THESE BEAUTIFUL PEOPLE?</h3>
		<% @guests.each do |guest| %>
			<h4 class="beautiful_people"><%= link_to guest.name, start_session_path(:guest => guest.id, :url => request.original_url) %></h4>
		<% end %>
	</div>
</div>

<script language="javascript">
document.onmousedown=disableclick;
status="Right Click Disabled";
Function disableclick(event)
{
  if(event.button==2)
   {
     alert(status);
     return false;    
   }
}
</script> 

<div id="thegrid" oncontextmenu="return false">
<% @album.photos.each do |photo| %>



	<a class="fancybox-button" oncontextmenu="return false" rel="fancybox-button" href="<%= photo.photo.url %>" 
	<% if @album.social %>
		title="facebook | twitter | pinterest | tumblr"
    <% end %>
    >
	<div class="image_container item">
		<img src="<%= photo.photo.url %>" alt="" class="image" />
		</a>
		<div class="fave_controls <%= photo.id %>">
			<span class="fave_heart">
				<p><%= render 'photos/fave_options', :photo => Photo.find_by(id: photo.id) %></p>
			</span>
		</div>
		<div class="fave_count"><p><%= photo.followers_count %></p></div>
	</div>
	</a>


<% end %>

</div>

<div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">QUESTIONS</h4>
      </div>
      <div class="modal-body">
      	<%= simple_form_for(Answer.new) do |f| %>
		  <%= f.error_notification %>

		  <% @album.user.questions.each do |question| %>
        	<%= question.content %>
        	<%= f.input :content, :label => false %>
        	<%= f.hidden_field :question_id, :value => question.id %>
        	<% if current_guest %>
        		<%= f.hidden_field :guest_id, :value => current_guest.id %>
        	<% end %>
          <% end %>

		    <%= f.button :submit, "SUBMIT" %>
		<% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
	$(document).ready(function() {
	  $("a.fancybox").fancybox();
	});

	$(document).ready(function() {
		$(".fancybox-button").fancybox({
			prevEffect		: 'none',
			nextEffect		: 'none',
			closeBtn		: true,
			helpers		: {
				title	: { type : 'inside' },
				buttons	: {}
			}
		});
	});
</script>

<script>
	$(".image .fave_controls").mouseover(function(){
		$(this).addClass("animated bounceInUp");
	});
	$(".image").mouseout(function(){
		$(".fave_controls").removeClass("animated rotateOutDownLeft");
	});
</script>

<script>
	$("#thegrid").gridalicious({
		gutter: 1,
		width: 225
	});
</script>