<div class="session_start">
    <% if @album.status == 'created' %>
      <%= image_tag('upload_cloud.png') %>
      <h1>NEW SESSION</h1>
    <% else %>
      <h1>SET PASSWORD</h1>
    <% end %>
</div>
<div class="session_start">
	<%= simple_form_for @album, url: 'set_password' do |f| %>
            <%= f.error_notification %>
			  <div class="form-inputs">
				<div class="make-switch">
                    <%= f.check_box :password_toggle %>
                </div>
                <br/>
                <br/>
                <br/>
                <% holder = @album.password ? 'CHANGE PASSWORD' : 'CREATE PASSWORD' %>
                <%= f.input :password, :placeholder => holder, label: false %>
			  </div>
			  <br>
			  <%= f.button :submit, "CONTINUE" %>
	<% end %>

	</div>
</div>
<#= javascript_include_tag 'fancyInput' %>
<% if @album.status == 'created' %>
    <script>
        $('section :input').val('').fancyInput()[0].focus();
        $("#album_title").trigger('focus');
    </script>
    <%= render 'layouts/progress_circles', number: 4, active: 3 %>
<% end %>