<div class="session_start">
  <% if @album.status == 'created' %>
      <%= image_tag('upload_cloud.png') %>
      <h1>NEW SESSION</h1>
  <% else %>
    <h1>SETTINGS</h1>
  <% end %>
</div>
<div class="session_start">
	<%= simple_form_for @album, url: 'settings' do |f| %>
            <%= f.error_notification %>
	    	<div class="session_start">
				<h4>Please specify album settings</h4>
			</div>
			  <div class="form-inputs">
			  	<div class="options_box">
					<!--<h3>-->
						<!--WATERMARK:-->
					    <!--<div class="make-switch">-->
		    				<!--<%= f.check_box :watermark %>-->
						<!--</div>-->
					<!--</h3>-->
					<h3>
						SOCIAL SHARE:
						<div class="make-switch">
		    				<%= f.check_box :social %>
						</div>
					</h3>
				</div>
			  </div>
			  <br>
			  <%= f.button :submit, "CONTINUE" %>
	<% end %>
	</div>
    <% if @album.status == 'created' %>
      <%= render 'layouts/progress_circles', number: 4, active: 4 %>
    <% end %>
</div>
