<div class="session_start">
  <%= image_tag('upload_cloud.png') %>
  <h1>UPLOAD PHOTOS</h1>
  <h4>Found at: <a href="<%= @album.url %>"><%= @album.url %></a></h4>
  <br>
  <div class="complete">
    <%= link_to "Upload Complete!", user_path(@album.user) %>
  </div>
  <%= form_for(Photo.new, html: { multipart: true, class: 'dropzone'}) do |f|  %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :album_id, :value => @album.id %>
    <div class="fallback">
        <%= f.file_field :photo %><br>
        <%= f.submit "Upload" %>
    </div>
  <% end %>
</div>