<div class="session_start">
	<%= image_tag('upload_cloud.png') %>
    <h1>NEW SESSION</h1>
    <h4>Found at: http://www.<%= ENV['DISPLAY_DOMAIN'] %>/<%= current_user.url_name %>/<%= @album.name %></h4>
    <br>
  <%= form_for(Photo.new, html: { multipart: true, class: 'dropzone'}) do |f|  %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :album_id, :value => @album.id %>
    <div class="fallback">
        <%= f.file_field :photo %><br>
        <%= f.submit "Upload" %>
    </div>
<% end %>

</div>

<%# render 'grid_view', faves: false %>
<script>
 $(window).load(function(){
    var photos = <%= @photos %>;
    alert("Photos found");
 });
</script>
