<% photo ||= @photo %>
<span class="fave_heart">
<%= link_to defave_photo_path(:id => photo.id), :remote => true do %>
    <%= image_tag('heart.png', :class => "small-heart") %>
<% end %>
</span>
<script>
//  $('.fave_options.<%= photo.id%>').removeClass("animated flipInX");
 $('.fave_options.<%= photo.id%>').show();
//  $('.fave_options.<%= photo.id%>').attr('style', 'display:block');
</script>