<% photo ||= @photo %>
<span class="fave_heart">
<%= link_to fave_photo_path(:id => photo.id), :remote => true do %>
	<%= image_tag('heart.png', :class => "small-heart") %>
    <%# image_tag('heart.png', :class => "small-heart") %>
<% end %>
</span>
<script>
//  $('.fave_options.<%= photo.id%>').hide();
//  $('.fave_options.<%= photo.id%>').attr('style', 'display:block');
  $('.fave_options.<%= photo.id%>').addClass("animated flipInX");
</script>