<li class="brand pull-left">
  <% if current_user.logo.url.include? 'missing' %>
    <%= link_to current_user.name, new_album_path %>
  <% else %>
    <%= link_to image_tag(current_user.logo.url(:thumb)), new_album_path %>
  <% end %>
</li>

<a data-target=".nav-collapse" data-toggle="collapse" class="btn-navbar pull-right">
    <!--These are to make the button look fancy-->
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</a>

<div class="navbar-collapse pull-right">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav_link_top">
        <%= link_to 'SESSIONS', user_path(current_user) %>
      </li>
      <li class="nav_link_top">
        <%= link_to 'ANALYTICS', analytics_user_path(current_user) %>
      </li>
      <li data-toggle="collapse" data-target="#options" class="nav_link_top collapser">
        <div class="text">INFO</div>
      </li>
      </li>
      <li class="dropdown-toggle red plus_btn">
        <%= link_to '+', new_album_path %>
      </li>
    </ul>
</div>

<div id="options" class="collapse out options_bar">
  <div class="link_holder">
    <ul>
      <li><a data-toggle="modal" href="#logo">LOGO</a></li>
      <li><a data-toggle="modal" href="#link">LINK</a></li>
      <li><a data-toggle="modal" href="#password">PASSWORD</a></li>
      <li><a data-toggle="modal" href="#vanity">VANITY URL</a></li>
      <li><a data-toggle="modal" href="#feedback">CLIENT FEEDBACK</a></li>
      <li><a data-toggle="modal" href="#credit_card">UPDATE CREDIT CARD</a></li>
      <li><%= link_to 'LOGOUT', destroy_user_session_path, :method=>'delete' %></li>
    </ul>
  </div>
</div>