<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if @album %>
        <title><%= @album.user.name %> | <%= @album.name %></title>
    <% else %>
        <title>Boomerang Proof Album Viewer Portal</title>
    <% end %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "BOOMERANG" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "cbpGridGallery", "modernizr.custom", "application" %>
    <%= javascript_include_tag "jquery.grid-a-licious.min" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <style>
      body.albums{padding-top: 0px;}
    </style>
  </head>
  <body id='body' class="<%= controller_name %> <%= action_name %>">
    <div id="main" role="main">
        <div class="content">
              <%= render 'layouts/messages' if current_user %>
              <%= yield %>
          </div>
    </div> <!-- end of #main -->
    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/display_nav' if @album%>
        </div>
      </nav>
    </div>
  </body>
</html>
