<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>BOOMERANG PROOF | YOUR ONLINE PHOTO PROOF HOME</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "BOOMERANG" %>">
    <%= yield(:head) %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.grid-a-licious.min" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>" data-spy="scroll" data-target=".navbar">
    <div class="navbar navbar-fixed-top fixed animated fadeInDownBig  no-print">
      <nav class="navbar-inner">
        <%= render 'layouts/home_navigation' %>
      </nav>
    </div>
    <div id="main" role="main">
        <div class="content">
              <%= yield %>
        </div>
    </div>
  </body>
</html>
